* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
}

/* menu de navegação */
.container {
    max-width: 2000px;
    padding: 2%;
    margin: 0 auto;
    background-color: #62AC3F;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.60s;
}

nav ul li a:hover {
    background-color: rgb(132, 231, 132);
}

span img {
    width: 60px;
    height: 60px;
}

/* info sobre nós */
.sobre {
    color: #fff;
    display: flex;
    max-width: 2000px;
    background-color: #1b1b1b;
}

.sobre .article {
    color: #fff;
    max-width: 2000px;
    padding: 3%;

}
.sobre .article h1{
    color: #fff;
    padding: 20px;
    font-size: 30px;


}

.sobre .article .p1 {
    text-align: left;
    margin-right:300px ;
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    border-left:3px solid;
}

.sobre .article .p2 {
    text-align: left;
    padding: 20px;
    text-align: justify;
    margin-right:300px ;
    font-size: 20px;
    border-left:3px solid;

}

aside img {
    height: 100%;
    width: 55vh;

}


/* footer */
.footer {
    padding: 40px;
    background-color: #62AC3F;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}

.footer .social a {
    font-size: 24px;
    color: black;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 80px;
    opacity: 0.75;
}

.footer .social a:hover {
    transition: 0.15s;
    color: #62AC3F;

}

.footer ul {
    text-align: center;
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li {
    display: inline-block;


}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin: 15px;
    text-align: center;
    font-size: 13px;
    opacity: 0.5;
}

.footer .copyright:hover {
    opacity: 1;
}