* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
}

/* menu de navegação */
.container {
    max-width: 2000px;
    padding: 2%;
    margin: 0 auto;
    background-color: #62AC3F;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.60s;
}

nav ul li a:hover {
    background-color: rgb(132, 231, 132);
}

span img {
    width: 60px;
    height: 60px;
}


/* introdução */
header {
    background-image: url(img/fundo\ da\ intro.jpg);
    height: 50vh;
    width: 100%;
    background-size: 100% 170%;
    background-repeat: no-repeat;
    background-position: center;

}

header .introducao {

    margin-left: auto;
    width: 750px;
    padding: 30px;

}

header .introducao h1 {
    color: #fff;
    text-align: center;
    font-size: 20px;

}

header .introducao p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Info sobre o Sporte */
.infoesporte {
display: flex;
color: #fff;
background-color: #1b1b1b;
width:100%;
padding: 70px;
text-align: center;

}
.regras{
    margin: 2%;

    
}
.pontuacao{
    margin: 2%;
   
}

.vencedores{
    margin: 2%;
    
}



/* footer */
.footer {
    padding: 40px;
    background-color: #62AC3F;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}

.footer .social a {
    font-size: 24px;
    color: black;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 80px;
    opacity: 0.75;
}

.footer .social a:hover {
    transition: 0.15s;
    color: #62AC3F;

}

.footer ul {
    text-align: center;
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li {
    display: inline-block;


}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin: 15px;
    text-align: center;
    font-size: 13px;
    opacity: 0.5;
}
.footer .copyright:hover{
    opacity: 1;
}